{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <title>Hua Covid-19 Tracker | Covid-19 Case</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"> 
</head>
<body>
  <section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a href="/index.html">Hua Covid-19 Tracker</a>
      </div>
      <nav>
        <ul class="nav-list">
          <li>
            <a style="color: white;">{{user}}</a>
          </li>
          <li>
            <a href="/covid">Δήλωση Κρούσματος Covid-19</a>
          </li>
          <li>
            <a href="/show">Show All Data</a>
          </li>
          <li>
            <a href="/logout">Log out</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <br><br>
  <h2 style="text-align: center;">Δήλωση Κρούσματος</h2><br>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 p-0 pt-3">
        <form class="login-form" action="covidAdd" method="POST">
           {% csrf_token %}
           <div class="mb-3 bg-color">
           <label>Ημερομηνία διάγνωσης</label>
           <input type="date" name="date" class="form-control" required>
          </div>
          <input type="submit" class="btn btn-custom btn-lg btn-block mt-3" value="Βεβαίωση Κρούσματος">
          <div class="text-center pt-3 pb-3">
            <h4>{{result}}</h4>
          </div>
        </form>
      </div>
      <div class="col-md-3">
      </div>
    </div>
</div>
</body>
</html>